In [22]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [23]:
# Take in all of our data and read it into pandas
#County_Population = "../Archived_Data/Census Top 300 Counties by Population (Cleaned).csv"
Clean_Obesity_Data = "./Resources/Clean_Obesity_2.csv"
County_Population = "./Resources/Clean_Population_2.csv"
Clean_Restaurant_Data_by_County = "./Resources/Clean_Restaurant_2.csv"
Clean_Income_County_Data = "./Resources/Clean_Income_County_Data.csv"

Obesity_df = pd.read_csv(Clean_Obesity_Data)
Population_df = pd.read_csv(County_Population)
Restaurant_df = pd.read_csv(Clean_Restaurant_Data_by_County)
Income_df = pd.read_csv(Clean_Income_County_Data)

In [12]:
# #Population_df["Population"] = pd.to_numeric(Population_df["Population"])

# Population_df

# Population_df.Population=[pd.to_numeric(Population_df.Population, errors='coerce').isnull()]
# Population_df

In [25]:
Obesity_df = Obesity_df.sort_values(by=["Location"])
Obesity_df

,Location,Obesity Percentage,Lower Limit,Upper Limit
2398,"Abbeville County, South Carolina",37,30.7,43.2
1117,"Acadia Parish, Louisiana",38.4,31,46
2903,"Accomack County, Virginia",36.7,30.6,43.4
555,"Ada County, Idaho",25.3,23.3,27.3
793,"Adair County, Iowa",31.3,22.1,42.4
...,...,...,...,...
114,"Yuma County, Arizona",37.5,32.8,42.6
311,"Yuma County, Colorado",27.3,20.8,34.3
2858,"Zapata County, Texas",31.3,18.1,47.2
2859,"Zavala County, Texas",24.3,14.4,37.6
2510,"Ziebach County, South Dakota",51.3,45,58

In [26]:
Population_df = Population_df.sort_values(by=["Location"])
Population_df

                          Location  Population
148            Ada County,   Idaho      469966
138       Adams County,   Colorado      511868
255      Alachua County,   Florida      269956
19    Alameda County,   California     1666753
229      Albany County,   New York      307117
..                             ...         ...
274    Yakima County,   Washington      251446
288      Yavapai County,   Arizona      231993
156    York County,   Pennsylvania      448273
251  York County,   South Carolina      274118
94                             NaN      702455

[303 rows x 2 columns]

In [21]:
# Merge_df = Population_df.merge(Obesity_df, on= "Location", how="left")
# Merge_df

In [ ]:
finaldf = pd.concat([clean_income_data, clean_obesity_df], axis=1, join='inner').sort_index()

In [20]:
Merge_df.to_csv("./Resources/TestMerge.csv", encoding="utf-8", index=False)

In [ ]:
# Population_df["Population"] = Population_df["Population"].astype(float)
# Population_df.head()
# Population_df["Population"].unique()
# df = list(Population_df["Population"])
# df[0]+df[1]
# Population_df.head()

In [ ]:
# Obesity_df.head()
# Obesity_df["Obesity Percentage"].unique()
# df = list(Obesity_df["Obesity Percentage"])
# df[0]+df[1]

In [ ]:
#   Merge_df = pd.merge(Population_df, Obesity_df, how='inner', on=('County'))
#   Merge_df= Merge_df.groupby ["Population"]


#   pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
#         left_index=False, right_index=False, sort=True,
#         suffixes=('_x', '_y'), copy=True, indicator=False,
#         validate=None)
#   >>> df1.merge(df2, left_on='lkey', right_on='rkey')
#   Populatoin_df.drop("State_y")


# Merge_df = Obesity_df.merge(Population_df, on= "Location", how="left")
# Merge_df

In [ ]:
# print (Merge_df[pd.to_numeric(Merge_df.Population_df, errors='coerce').isnull()])

In [ ]:
# Merge_df.dropna(subset = ["Population"], inplace = True)
# Merge_df

In [ ]:
#A_Merge_Sample_df = Merge_Sample_df [["County", "State_x", "Population", "Obesity Percentage", "Lower Limit", "Upper Limit"]]
#A_Merge_Sample_df

In [ ]:
#nan_value = float("NaN")
#Merge_df.replace("N", nan_value, inplace = True)
#Merge_df.dropna(subset = ["Obesity Percentage", "Lower Limit", "Upper Limit", "State_y", "Population"  ], inplace = True)
#Merge_df.dropna(subset = ["Obesity Percentage", "Lower Limit", "Upper Limit", "Population"  ], inplace = True)
#Merge_df

In [ ]:
#Clean_Merge_df = Merge_df [["County", "State_x", "Population", "Obesity Percentage", "Lower Limit", "Upper Limit", ]]
#Clean_Merge_df.head(5)