In [1]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [24]:
# Take in all of our data and read it into pandas
#County_Population = "../Archived_Data/Census Top 300 Counties by Population (Cleaned).csv"
Clean_Obesity_Data = "./Resources/Clean_Obesity_2.csv"
County_Population = "./Resources/Clean_Population_2.csv"
Clean_Restaurant_Data_by_County = "./Resources/Clean_Restaurant_3.csv"
Clean_Income_County_Data = "./Resources/Clean_Income_County_Data.csv"

Obesity_df = pd.read_csv(Clean_Obesity_Data)
Population_df = pd.read_csv(County_Population)
Restaurant_df = pd.read_csv(Clean_Restaurant_Data_by_County)
Income_df = pd.read_csv(Clean_Income_County_Data)

In [8]:
# #Population_df["Population"] = pd.to_numeric(Population_df["Population"])

# Population_df

# Population_df.Population=[pd.to_numeric(Population_df.Population, errors='coerce').isnull()]
# Population_df

In [9]:
Obesity_df = Obesity_df.sort_values(by=["Location"])
Obesity_df

                           Location Obesity Percentage Lower Limit Upper Limit
2398  AbbevilleCounty,SouthCarolina                 37        30.7        43.2
1117         AcadiaParish,Louisiana               38.4          31          46
2903        AccomackCounty,Virginia               36.7        30.6        43.4
555                 AdaCounty,Idaho               25.3        23.3        27.3
793                AdairCounty,Iowa               31.3        22.1        42.4
...                             ...                ...         ...         ...
114              YumaCounty,Arizona               37.5        32.8        42.6
311             YumaCounty,Colorado               27.3        20.8        34.3
2858             ZapataCounty,Texas               31.3        18.1        47.2
2859             ZavalaCounty,Texas               24.3        14.4        37.6
2510      ZiebachCounty,SouthDakota               51.3          45          58

[3226 rows x 4 columns]

In [10]:
Population_df = Population_df.sort_values(by=["Location"])
Population_df

                     Location  Population
148           AdaCounty,Idaho      469966
138      AdamsCounty,Colorado      511868
255     AlachuaCounty,Florida      269956
19   AlamedaCounty,California     1666753
229      AlbanyCounty,NewYork      307117
..                        ...         ...
274   YakimaCounty,Washington      251446
288     YavapaiCounty,Arizona      231993
156   YorkCounty,Pennsylvania      448273
251  YorkCounty,SouthCarolina      274118
94                        NaN      702455

[303 rows x 2 columns]

In [11]:
#Merge_df.sort_values(by="Population", ascending = True)
#reduced_df.head(20)
#Merge_df(subset = ["Location"], inplace = True)

Merge_df = Obesity_df.merge(Population_df, on= "Location", how="outer")
Merge_df.to_csv('./Resources/PopAndObData.csv')
Merge_df = Merge_df.dropna(how='any')
Merge_df

,Location,Obesity Percentage,Lower Limit,Upper Limit,Population
3,"AdaCounty,Idaho",25.3,23.3,27.3,469966.0
8,"AdamsCounty,Colorado",27.7,25.7,29.8,511868.0
28,"AlachuaCounty,Florida",26.9,24.4,29.8,269956.0
30,"AlamedaCounty,California",19.2,17.3,21.5,1666753.0
32,"AlbanyCounty,NewYork",27,24.2,29.7,307117.0
...,...,...,...,...,...
3181,"WorcesterCounty,Massachusetts",26.6,24.8,28.4,830839.0
3198,"YakimaCounty,Washington",35,31.5,38.5,251446.0
3206,"YavapaiCounty,Arizona",23,19.9,26.1,231993.0
3215,"YorkCounty,Pennsylvania",31,27.1,35.4,448273.0
3216,"YorkCounty,SouthCarolina",32.1,29.4,34.8,274118.0

In [12]:
# #Sorting Function for Column Population from lowest to highest
# Sorted_Merge = Merge_df.sort_values('Population')
# Sorted_Merge.tail()

In [13]:
Sorted_Merge = Merge_df.sort_values('Population' ,ascending=False)
Sorted_Merge

,Location,Obesity Percentage,Lower Limit,Upper Limit,Population
1758,"LosAngelesCounty,California",21.4,20.2,22.7,10105518.0
652,"CookCounty,Illinois",27.7,26.5,29,5180493.0
1243,"HarrisCounty,Texas",27.6,25.5,29.7,4698619.0
1833,"MaricopaCounty,Arizona",26.9,26,27.8,4410824.0
2566,"SanDiegoCounty,California",20.2,18.5,21.7,3343364.0
...,...,...,...,...,...
2809,"SussexCounty,Delaware",32.6,30.7,34.7,229286.0
276,"BrazosCounty,Texas",29.2,26.2,32.3,226758.0
1729,"LinnCounty,Iowa",34.5,31.4,37.7,225909.0
2026,"MontgomeryCounty,Alabama",37.7,34,41.2,225763.0
3110,"WhatcomCounty,Washington",27.8,25.1,30.9,225685.0

In [14]:
Sorted_Merge = Sorted_Merge[["Location", "Population","Lower Limit", "Upper Limit"]]
Sorted_Merge

                         Location  Population Lower Limit Upper Limit
1758  LosAngelesCounty,California  10105518.0        20.2        22.7
652           CookCounty,Illinois   5180493.0        26.5          29
1243           HarrisCounty,Texas   4698619.0        25.5        29.7
1833       MaricopaCounty,Arizona   4410824.0          26        27.8
2566    SanDiegoCounty,California   3343364.0        18.5        21.7
...                           ...         ...         ...         ...
2809        SussexCounty,Delaware    229286.0        30.7        34.7
276            BrazosCounty,Texas    226758.0        26.2        32.3
1729              LinnCounty,Iowa    225909.0        31.4        37.7
2026     MontgomeryCounty,Alabama    225763.0          34        41.2
3110     WhatcomCounty,Washington    225685.0        25.1        30.9

[290 rows x 4 columns]

In [16]:
Sorted_Merge_2_df = Sorted_Merge.merge(Income_df, on= "Location", how="outer")
Sorted_Merge_2_df.to_csv('./Resources/PopObeInc.csv')
Sorted_Merge_2_df = Sorted_Merge_2_df.dropna(how='any')
Sorted_Merge_2_df

,Location,Population,Lower Limit,Upper Limit,Household Total,Median,Mean
0,"LosAngelesCounty,California",10105518.0,20.2,22.7,3305589,61338,89718
1,"CookCounty,Illinois",5180493.0,26.5,29,1963973,60046,86514
2,"HarrisCounty,Texas",4698619.0,25.5,29.7,1606399,56377,84551
3,"MaricopaCounty,Arizona",4410824.0,26,27.8,1521131,58737,81501
4,"SanDiegoCounty,California",3343364.0,18.5,21.7,1110568,70824,96692
...,...,...,...,...,...,...,...
285,"SussexCounty,Delaware",229286.0,30.7,34.7,82851,57734,78917
286,"BrazosCounty,Texas",226758.0,26.2,32.3,78272,41559,71130
287,"LinnCounty,Iowa",225909.0,31.4,37.7,89173,64639,82094
288,"MontgomeryCounty,Alabama",225763.0,34,41.2,90827,45395,65678
289,"WhatcomCounty,Washington",225685.0,25.1,30.9,84011,56411,71154

In [18]:
# Sorted_Merge_2_df = Sorted_Merge_2[["Location", "Population","Lower Limit Pop", "Upper Limit Pop"]]
# Sorted_Merge

In [34]:
Sorted_Merge_3_df = Sorted_Merge_2_df.merge(Restaurant_df, on= "Location", how="outer")
Sorted_Merge_3_df.to_csv('./Resources/AllMerge.csv')
Sorted_Merge_3_df = Sorted_Merge_3_df.dropna(how='any')
Sorted_Merge_3_df.round(3)

,Location,Population,Lower Limit,Upper Limit,Household Total,Median,Mean,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
0,"LosAngelesCounty,California",10105518.0,20.2,22.7,3305589.0,61338.0,89718.0,7225.0,Restaurants and Other Eating Places,"23,519",82.2,17.8,"19,334"
1,"CookCounty,Illinois",5180493.0,26.5,29,1963973.0,60046.0,86514.0,7225.0,Restaurants and Other Eating Places,"12,157",80.9,19.1,"9,839"
2,"HarrisCounty,Texas",4698619.0,25.5,29.7,1606399.0,56377.0,84551.0,7225.0,Restaurants and Other Eating Places,"9,494",76.9,23.1,"7,297"
3,"MaricopaCounty,Arizona",4410824.0,26,27.8,1521131.0,58737.0,81501.0,7225.0,Restaurants and Other Eating Places,"7,310",87.3,12.7,"6,381"
4,"SanDiegoCounty,California",3343364.0,18.5,21.7,1110568.0,70824.0,96692.0,7225.0,Restaurants and Other Eating Places,"7,105",88,12,"6,252"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,"SussexCounty,Delaware",229286.0,30.7,34.7,82851.0,57734.0,78917.0,7225.0,Restaurants and Other Eating Places,578,90.7,9.3,524
286,"BrazosCounty,Texas",226758.0,26.2,32.3,78272.0,41559.0,71130.0,7225.0,Restaurants and Other Eating Places,396,87.9,12.1,348
287,"LinnCounty,Iowa",225909.0,31.4,37.7,89173.0,64639.0,82094.0,7225.0,Restaurants and Other Eating Places,428,91.4,8.6,391
288,"MontgomeryCounty,Alabama",225763.0,34,41.2,90827.0,45395.0,65678.0,7225.0,Restaurants and Other Eating Places,452,87.4,12.6,395
289,"WhatcomCounty,Washington",225685.0,25.1,30.9,84011.0,56411.0,71154.0,7225.0,Restaurants and Other Eating Places,442,92.1,7.9,407

In [28]:
#Function that exports the DataFrame to a CSV
Sorted_Merge_3_df.to_csv("./Resources/AllMerge.csv", encoding="utf-8", index=False)

In [ ]:
#Merge_df.sort_values(by="Population", ascending = True, axis = 0)
#Merge_df
# Merge_df["Population"] = Merge_df["Population"].astype(float)
# Merge_df.sort_values(by="Population", axis=0, ascending=True)
# Merge_df

In [ ]:
#finaldf = pd.concat([clean_income_data, clean_obesity_df], axis=1, join='inner').sort_index()

In [ ]:
# Merge_df(subset = ["Obesity Percentage"], inplace = True)

In [ ]:
# Population_df["Population"] = Population_df["Population"].astype(float)
# Population_df.head()
# Population_df["Population"].unique()
# df = list(Population_df["Population"])
# df[0]+df[1]
# Population_df.head()

In [ ]:
# Obesity_df.head()
# Obesity_df["Obesity Percentage"].unique()
# df = list(Obesity_df["Obesity Percentage"])
# df[0]+df[1]

In [ ]:
#   Merge_df = pd.merge(Population_df, Obesity_df, how='inner', on=('County'))
#   Merge_df= Merge_df.groupby ["Population"]


#   pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
#         left_index=False, right_index=False, sort=True,
#         suffixes=('_x', '_y'), copy=True, indicator=False,
#         validate=None)
#   >>> df1.merge(df2, left_on='lkey', right_on='rkey')
#   Populatoin_df.drop("State_y")


# Merge_df = Obesity_df.merge(Population_df, on= "Location", how="left")
# Merge_df

In [ ]:
# print (Merge_df[pd.to_numeric(Merge_df.Population_df, errors='coerce').isnull()])

In [ ]:
# Merge_df.dropna(subset = ["Population"], inplace = True)
# Merge_df

In [ ]:
#A_Merge_Sample_df = Merge_Sample_df [["County", "State_x", "Population", "Obesity Percentage", "Lower Limit", "Upper Limit"]]
#A_Merge_Sample_df

In [ ]:
#nan_value = float("NaN")
#Merge_df.replace("N", nan_value, inplace = True)
#Merge_df.dropna(subset = ["Obesity Percentage", "Lower Limit", "Upper Limit", "State_y", "Population"  ], inplace = True)
#Merge_df.dropna(subset = ["Obesity Percentage", "Lower Limit", "Upper Limit", "Population"  ], inplace = True)
#Merge_df

In [ ]:
#Clean_Merge_df = Merge_df [["County", "State_x", "Population", "Obesity Percentage", "Lower Limit", "Upper Limit", ]]
#Clean_Merge_df.head(5)