In [2]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [5]:
csvpath = "../Archived_Data/Census Top 300 Counties by Population (Cleaned).csv"
County_Pop_df = pd.read_csv(csvpath)
County_Pop_df.head(5)

                           County     Population
0  Los Angeles County, California  10,105,518.00
1           Cook County, Illinois   5,180,493.00
2            Harris County, Texas   4,698,619.00
3        Maricopa County, Arizona   4,410,824.00
4    San Diego County, California   3,343,364.00

In [6]:
new = County_Pop_df["County"].str.split(",", n = 1, expand = True)
County_Pop_df["County"]= new[0] 
County_Pop_df["State"]= new[1] 
#County_Pop_df.drop(columns =[" "], inplace = True) 
County_Pop_df

                 County     Population        State
0    Los Angeles County  10,105,518.00   California
1           Cook County   5,180,493.00     Illinois
2         Harris County   4,698,619.00        Texas
3       Maricopa County   4,410,824.00      Arizona
4      San Diego County   3,343,364.00   California
..                  ...            ...          ...
298       Richmond city     228,783.00     Virginia
299       Brazos County     226,758.00        Texas
300         Linn County     225,909.00         Iowa
301   Montgomery County     225,763.00      Alabama
302      Whatcom County     225,685.00   Washington

[303 rows x 3 columns]

In [7]:
Organized_County_Data_df = County_Pop_df [["County", "State", "Population" ]]
Organized_County_Data_df

                 County        State     Population
0    Los Angeles County   California  10,105,518.00
1           Cook County     Illinois   5,180,493.00
2         Harris County        Texas   4,698,619.00
3       Maricopa County      Arizona   4,410,824.00
4      San Diego County   California   3,343,364.00
..                  ...          ...            ...
298       Richmond city     Virginia     228,783.00
299       Brazos County        Texas     226,758.00
300         Linn County         Iowa     225,909.00
301   Montgomery County      Alabama     225,763.00
302      Whatcom County   Washington     225,685.00

[303 rows x 3 columns]

In [11]:
Organized_County_Data_df["Location"] = Organized_County_Data_df["County"] + "," + "  " + Organized_County_Data_df["State"]
Organized_County_Data_df

C:\Users\Boston\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,County,State,Population,Location
0,Los Angeles County,California,"10,105,518.00","Los Angeles County, California"
1,Cook County,Illinois,"5,180,493.00","Cook County, Illinois"
2,Harris County,Texas,"4,698,619.00","Harris County, Texas"
3,Maricopa County,Arizona,"4,410,824.00","Maricopa County, Arizona"
4,San Diego County,California,"3,343,364.00","San Diego County, California"
...,...,...,...,...
298,Richmond city,Virginia,"228,783.00","Richmond city, Virginia"
299,Brazos County,Texas,"226,758.00","Brazos County, Texas"
300,Linn County,Iowa,"225,909.00","Linn County, Iowa"
301,Montgomery County,Alabama,"225,763.00","Montgomery County, Alabama"
302,Whatcom County,Washington,"225,685.00","Whatcom County, Washington"

In [13]:
Organized_County_Data_2_df = Organized_County_Data_df [["Location", "Population"]]
Organized_County_Data_2_df

                             Location     Population
0    Los Angeles County,   California  10,105,518.00
1             Cook County,   Illinois   5,180,493.00
2              Harris County,   Texas   4,698,619.00
3          Maricopa County,   Arizona   4,410,824.00
4      San Diego County,   California   3,343,364.00
..                                ...            ...
298         Richmond city,   Virginia     228,783.00
299            Brazos County,   Texas     226,758.00
300               Linn County,   Iowa     225,909.00
301      Montgomery County,   Alabama     225,763.00
302      Whatcom County,   Washington     225,685.00

[303 rows x 2 columns]

In [15]:
Organized_County_Data_2_df.to_csv("./Resources/Clean_Population_2.csv", encoding="utf-8", index=False)

In [67]:
#County_Pop_df[['County','State']] = County_Pop_df.County.str.split(" , ",expand=True,)
#County_Pop_df

In [59]:
#County_Pop_df["County"]=County_Pop_df["County"].str.split("\r\n")
#County_Pop_df.explode("County").reset_index(drop=True)

#County_Pop_df["County"] = County_Pop_df.County.str.split()
#County_Pop_df.explode("County")

#County_Pop_df["County"] = County_Pop_df.County.str.split()
#df.explode("County")
#County_Pop_df.dtypes

In [6]:
#County_Pop_df["County"] = County_Pop_df.County.str.split()
#County_Pop_df.explode("County")

In [7]:
#County_Pop_df = pd.DataFrame({
#    'County': ['Los Angeles County|California', 'Cook County|IL', 'Harris County|TX', 'Maricopa County|AZ', 'San Diego County, CA'] ,
#    'Population': ['10,105,518.00', '5,180,493.00', '4,698,619.00', '4,410,824.00', '3,343,364.00'],
   
#})

#County_Pop_df

In [8]:
#County_Pop_2_df = pd.DataFrame(County_Pop_2_df.County.str.split('|').tolist(), index=df.Population).stack()
#County_Pop_2_df

In [21]:
#County_Pop_df["County"] = County_Pop_df.County.str.split()
#County_Pop_df.explode("County")

#County_Pop_df[['City', 'State']] = County_Pop_df.County.str.split(" , ",expand=True,)
#County_Pop_df