In [2]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [5]:
Just_Population = "./Resources/Just_Location.csv"
Clean_Obesity_Data = "./Resources/Clean_Obesity_2.csv"

Population_df = pd.read_csv(Just_Population)
Obesity_df = pd.read_csv(Clean_Obesity_Data)

In [7]:
Population_df

                             Location
0    Los Angeles County,   California
1             Cook County,   Illinois
2              Harris County,   Texas
3          Maricopa County,   Arizona
4      San Diego County,   California
..                                ...
297         Richmond city,   Virginia
298            Brazos County,   Texas
299               Linn County,   Iowa
300      Montgomery County,   Alabama
301      Whatcom County,   Washington

[302 rows x 1 columns]

In [8]:
Obesity_df

                         Location Obesity Percentage Lower Limit Upper Limit
0        Autauga County,  Alabama               33.2        27.2        39.5
1        Baldwin County,  Alabama               31.1          28        34.4
2        Barbour County,  Alabama               41.7        34.1        49.5
3           Bibb County,  Alabama               37.7          30        46.7
4         Blount County,  Alabama               33.7        27.7        39.9
...                           ...                ...         ...         ...
3221  Sweetwater County,  Wyoming               29.5        25.9        32.9
3222       Teton County,  Wyoming               12.3         9.6        15.3
3223       Uinta County,  Wyoming               35.6        30.3        40.5
3224    Washakie County,  Wyoming               28.7        22.9        35.4
3225      Weston County,  Wyoming               32.9        27.2        39.5

[3226 rows x 4 columns]