In [ ]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [ ]:
csvpath = "CSV_Census_Data_2016_Restaurant_Count_by_County.csv"
restaurant_df = pd.read_csv(csvpath)
restaurant_df.head(10)

In [ ]:
nan_value = float("NaN")
restaurant_df.replace("", nan_value, inplace = False)
#cities_df.dropna(subset = ["Cloudiness"], inplace = True)
#cities_df.dropna(subset = ["Country"], inplace = True)
restaurant_df

In [ ]:
# Remove unecessary columns from the DataFrame and save the new DataFrame

# Only keep: "isbn", "original_publication_year", "original_title", "authors",

# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

reduced_df = restaurant_df [["Unnamed: 1", "Unnamed: 3", "Unnamed: 4","Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9"  ]]
    
#reduced_df = restaurant_df [["NaN"]]
    
reduced_df.head(20)

In [ ]:
# Drop all rows with missing information
reduced_df = reduced_df.dropna(how='any')
reduced_df.head(20)

In [ ]:
# Rename the headers to be more explanatory
reduced_df = reduced_df.rename(columns={
                                        "Unnamed: 1": "State",
                                        "Unnamed: 3": "County",
                                        "Unnamed: 4": "NAICS Code",
                                        "Unnamed: 5": "NAICS Description",
                                        "Unnamed: 6": "Total CBP and NES Establishments",
                                        "Unnamed: 7": "CBP Establishments Percentage",
                                        "Unnamed: 8": "NES Establishments Percentage",
                                        "Unnamed: 9": "CBP Establishments",
                        })


reduced_df.head(20)

In [ ]:
# Delete extraneous column
#reduced_df.drop(reduced_df.index[0])
#reduced_df

#reduced_df.drop(reduced_df.index[-1])
#reduced_df

#del reduced_df['']
#reduced_df.head()

#reduced_df[reduced_df.name != 'Code']

reduced_df = reduced_df.iloc[1:,]
reduced_df

In [ ]:
nan_value = float("NaN")
reduced_df.replace("N", nan_value, inplace = True)
reduced_df.dropna(subset = ["Total CBP and NES Establishments"], inplace = True)
#reduced_df.dropna(subset = ["Country"], inplace = True)
reduced_df

#reduced_df = reduced_df.dropna(how='any')
#reduced_df

In [ ]:
#reduced_df.iloc[reduced_df["2012 NAICS Code"] == "7225"]
#reduced_df
reduced_df.dtypes
#data[data["Area"] == "Ireland"]
#df.loc[df['column_name'] == some_value]

In [ ]:
#reduced_df['2012 NAICS Code'] = pd.to_numeric(reduced_df['2012 NAICS Code'])
reduced_df['NAICS Code'] = reduced_df['NAICS Code'].astype(float)
reduced_df.dtypes